# Core
Django==5.1.3
gunicorn==22.0.0
psycopg2-binary==2.9.10
whitenoise==6.7.0
django-environ==0.11.2
pandas==2.2.3
numpy==1.26.4
djangorestframework==3.14.0
django-cors-headers==4.9.0
django-filter==23.3
pyotp==2.9.0
qrcode==8.2
pillow==12.0.0 
reportlab==4.4.5
openpyxl==3.1.5
python-decouple==3.8
celery==5.5.3
redis==5.0.1 
django-tailwind
python-dotenv
django-widget-tweaks


